@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 25s linear infinite;
  }

  @keyframes scroll-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll-right {
    animation: scroll-right 30s linear infinite;
  }
}
